<form action="/auth">
    <button type="submit">LOG OUT</button>
</form>

<h3>Section Nom Roll</h3>

<% people.forEach(person => { %>
  <div class="row">
    <div class="name_container"><%= person.name %></div>
    <div class="edit_function"><button onclick="window.location='/<%= person.id %>/edit';">Edit</button></div>
    <div class="delete_function">
      <form method="POST" action="/<%= person.id %>?_method=DELETE">
        <button type="submit">Delete</button>
      </form>
    </div>
  </div>
<% }) %>
<br>

Add new member to section:
<form action="/" method="POST">
  <input type="text" name="name" placeholder="Enter new name here...">
  <button type="submit">Add to Nom Roll</button>
</form>

<br>
<button onclick="window.location='/stags';">Go To Stag List</button>
<br>