<h2>LOG IN</h2>
<br>

<form action="/login" method="POST">
    Enter email address:
    <br>
    <input type="text" name="email" placeholder="Enter email address here...">
    <br>
    <br>
    Enter password:
    <br>
    <input type="password" name="password" placeholder="Enter password here...">
    <br>
    <br>
    <button type="submit">LOG IN</button>
</form>