<h2>SIGN UP</h2>
<br>

<form action="/signup" method="POST">
    Enter email address:
    <br>
    <input type="text" name="email" placeholder="Enter email address here...">
    <br>
    <br>
    Enter password:
    <br>
    <input type="password" name="password" placeholder="Enter password here...">
    <br>
    <br>
    <button type="submit">SIGN UP</button>
</form>