body {
    background-color: #B5BF79;
    font-family: Arial;
    text-align: center;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.name_container {
    border-color: black;
    border: solid;
    width: 25%;
}
  
  .edit_function,
  .delete_function {
    width: 5%;
}

select option {
    color: black;
}
    
select option:first-child{
  color: gray;
}

select:invalid {
    color:gray;
}
select:valid {
    color:black;
}

@media (max-width: 1136px) {
    .row {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}