<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/styles.css" rel="stylesheet">
    <title>British Army Section Commander App</title>
</head>
<body>
    <h5>British Army Section Commander App</h5>
    <%- body %>
    <br>
    <h5>Created by Capt Phil Webber</h5>
</body>
</html>