<!-- <label>Name</label> -->
<input type="text" name="name" placeholder="Enter new info here...">
<!-- <input type="text" name="name" value="%= person.name %"> -->
<!-- <input placeholder="Enter new info here..."> -->